NET "w" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "Clk" LOC = "A4" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "x" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "y" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "z" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Clk" CLOCK_DEDICATED_ROUTE  = FALSE;